<!doctype html>

<title>Test</title> 
<meta charset=utf-8> 
<html>
<style type="text/css">
.text {
	font-family: Comic Sans MS, cursive;
}
</style>
<body>
<div id="fb-root">
  <div align="center">Autistic Meme Generator</div>
</div>
<p>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=453409971520442";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script><a href="/generate/"><a href="javascript:history.go(0)"><img src="http://localhost:5000/img/" width="500" height="500">
<div class="fb-share-button" data-href="http://localhost:5000/img/" data-layout="button"></div>
  </a>
  </a></p>
<div  <p>Like<span class="text"> Autistic kid with a dakimakura</span> for more</p>
  <p><div class="fb-like" data-href="https://www.facebook.com/autsimomeme/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></p>
</div>
</body>
</html>
